.card{
 opacity: 0.9;
}

body{
    background: url("/storage/uploads/american-flag.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.nav-item {
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgba(146, 143, 143, 0.24);
}